<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Trip Bookings</title>
</head>
<body>
    <h1>Trip Bookings</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Contact Number</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
            <tr>
                <td>{{ booking[1]}}</td>
                <td>{{ booking[2] }}</td>
                <td>{{ booking[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
